#card-base {
  align-items: center;
  width: 30rem;
}

#card {
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
}

#competitor-name {
  background-color: black;
  color: white;
  border-radius: 8px 8px 0px 0px;
  vertical-align: middle;
}

#competitor-name h4 {
  display: table-cell;
  vertical-align: middle;
}

.capitalize {
  text-transform: capitalize;
}
