#input-base {
  align-items: center;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.selected-to-show {
  color: white;
}

.btn-collapse {
  padding: 20px;
}

#general-tems-btn-div {
  background-color: yellow;
}

button {
  margin: 5px;
}

#collapse-events table tr td:nth-child(2),
#collapse-events table tr th:nth-child(2) {
  border-left: 1px solid lightgray;
}

#collapse-events table tr td:nth-child(5),
#collapse-events table tr th:nth-child(2) {
  border-right: 1px solid lightgray;
}
