#input-base {
  align-items: center;
  text-align: center;
}

.event-spec {
  text-transform: capitalize;
}

.selected-to-show {
  color: white;
}

.btn-collapse {
  padding: 20px;
}

#general-tems-btn-div {
  background-color: yellow;
}

button {
  margin: 5px;
}
